/*

  FHIR technology specific layout and styling

*/

/* colour variables */
/* NOTE - the following colours have not yet been ratified by the ADHA Comms Digital Team */
:root {
  --canonical-table-background-color: #ffffe6; /* the colour of the background of the canonical table */
  --xml-snippet-background-color: #F0FFFF; /* the colour of the background of the example xml snippets */
  --json-snippet-background-color: #EFFFEF; /* the colour of the background of the example json snippets */
}

/* background colour of canonical table at the top of resources */
/* CSS selector table.colsd td */
table.colsd td {
	background-color: var(--canonical-table-background-color);
}

/* XML SNIPPETS */

/* maximise the width of the xml snippet panes */
pre.xml {
  width: 100%;
}

/* ensure that the content of example XML snippets wrap within the pane */
/* rather than extend un-wrapped hidden to the right of the pane */
code[class*="language-xml"] {
	white-space: break-spaces;
}

/* background colour of the example xml snippets */
:not(pre) > code[class*="language-xml"], pre[class*="language-xml"] {
  background: var(--xml-snippet-background-color);
}

/* JSON SNIPPETS */

/* maximise the width of the json snippet panes */
pre.json {
  width: 100%;
}

/* ensure that the content of example JSON snippets wrap within the pane */
/* rather than extend un-wrapped hidden to the right of the pane */
code[class*="language-json"] {
	white-space: break-spaces;
}

/* background colour of the example json snippets */
:not(pre) > code[class*="language-json"], pre[class*="language-json"] {
  background: var(--json-snippet-background-color);
}

/* RDF SNIPPETS */

/* maximise the width of the rdf snippet panes */
pre.rdf {
  width: 100%;
}
